::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: #707275;
}
::-webkit-scrollbar-thumb:hover {
    background: #4c4f52;
}

.dark ::-webkit-scrollbar-track {
    background: #1a1c23;
}
.dark ::-webkit-scrollbar-thumb {
    background: #9e9e9e;
}
.dark ::-webkit-scrollbar-thumb:hover {
    background: #707275;
}

html {
    scroll-behavior: smooth;
}
